<robot name="my_robot">

  <!-- Base link (Box 1) -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0.11" rpy="0 0 0"/>
      <geometry>
        <box size="0.50 0.35 0.10"/>
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>
  </link>

  <!-- Box 2 -->
  <link name="box2">
    <visual>
      <origin xyz="0.07 0 0.21" rpy="0 0 0"/>
      <geometry>
        <box size="0.28 0.35 0.40"/>
      </geometry>
      <material name="blue">
        <color rgba="0.2 0.2 1 1"/>
      </material>
    </visual>
  </link>
  <joint name="box2_joint" type="fixed">
    <parent link="base_link"/>
    <child link="box2"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- LIDAR -->
  <link name="lidar_link">
    <visual>
      <origin xyz="0.07 0 0.60" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.04" length="0.08"/>
      </geometry>
      <material name="green"/>
    </visual>
  </link>
  <joint name="lidar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="lidar_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="left_wheel">
    <visual>
      <origin xyz="0.4 -0.25 0.1016" rpy="1.5870 1.5870 0"/>
      <geometry>
        <cylinder radius="0.1016" length="0.03"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>

  <joint name="left_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="left_wheel"/>
    <origin xyz="0.4 -0.25 0" rpy="0 0 0"/>
  </joint>

  <link name="right_wheel">
    <visual>
      <origin xyz="0.4 0.25 0.1016" rpy="1.5870 0 0"/>
      <geometry>
        <cylinder radius="0.1016" length="0.03"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>

  <joint name="right_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="right_wheel"/>
    <origin xyz="0.4 0.25 0" rpy="0 0 0"/>
  </joint>


  <!-- Front caster -->
  <link name="front_wheel">
    <visual>
      <origin xyz="0.0 0 0.025" rpy="1.5870 0 0"/>
      <geometry>
        <cylinder radius="0.025" length="0.02"/>
      </geometry>
      <material name="red"/>
    </visual>
  </link>
  <joint name="front_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="front_wheel"/>
    <origin xyz="0.15 0 0" rpy="0 0 0"/>
  </joint>

</robot>
